body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    overflow-x: hidden;
    background-color: #023E8A;
}

h1{
    font-size: 26px;
}

header{
    height: 10vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    color:rgba(240, 248, 255, 0.668);
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section{
    height: 10vh;
    width: 100vw;
    background-color: #0077B6;
    color:rgba(240, 248, 255, 0.668);
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section nav{
    margin: 10px;
}

a{
    color: #00B4D8;
}

@media (hover: hover){
    a:hover{
        transform: scale(1.1);
        color: #48CAE4;
    }
    }

body {
    animation-name: fondo;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

img{
    width: 550px;
    height: 350px;
}

.imagen{
    width: 550px;
    height: 350px;
    border: 3px groove white;
    background: #000;
    margin-top: 100px;
}

input{
    height: 6vh;
    width: 17vw;
    margin: 5px;
    border-radius: 5px;
    color: #023E8A;
    background-color: #00B4D8;
}

.imagen2{
    width: 550px;
    height: 350px;
    border: 3px groove white;
    background: #000;
    margin-top: 100px;
}

.boton{
    margin-top: 30px;
}